.home {
  padding: 100px 0;
  background: #fafafc;
  &__list {
    display: flex;
    justify-content: center;
    margin-top: 23px;
    gap: 20px;
  }
  &__item {
  }
  &__inner {
    padding: 30px;
    background-color: #fff;
  }
  &__title {
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px; /* 140% */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ff8a63;
  }
  &__subtitle {
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 43.2px; /* 120% */
    color: #45525b;
  }
  &__titla {
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 140% */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ff8a63;
  }
  &__subtitla {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.2px; /* 120% */
    color: #45525b;
  }
  &__text {
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px; /* 150.769% */
    color: #6f7278;
  }
}
